@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .grid-pattern {
    background-image: radial-gradient(circle, #c6c6ce 1px, transparent 1px);
    background-size: 32px 32px;
    opacity: 0.1;
  }
  
  .k-line-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
}

@keyframes dash {
  to { stroke-dashoffset: 0; }
}

html {
    scroll-behavior: smooth;
}
